/astyle-extension/AStyleExtension/bin
/astyle-extension/AStyleExtension/obj
/astyle-extension/*.suo
/astyle-extension/*.user
/astyle-extension/AStyleExtension/*.user
packages
.vs
/astyle-extension/AStyleExtension/AStyle/_AStyle.dll
/astyle-extension/AStyleExtension/AStyle/_AStyle.exp
/astyle-extension/AStyleExtension/AStyle/_AStyle.lib
/astyle-extension/AStyleExtension/AStyle/_AStyle31.dll
/astyle-extension/AStyleExtension/AStyle/_AStyle31.pdb
/astyle-extension/AStyleExtension/AStyle/_AStyle33d.lib
/AStyleExtension-2022-6-3.cfg
